@import url('https://fonts.googleapis.com/css?family=Oswald:400,600|Sacramento|Source+Sans+Pro:300&subset=latin-ext');
@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

/* Variables */

$color-light: #fff;
$color-dark: #545454;
$green-color: #02bf63;


$font-logo: 'Sacramento', cursive;
$font-header: 'Oswald', sans-serif;
$font-text: 'Source Sans Pro', sans-serif;
$font-h: 'Sedgwick Ave', cursive;

/* Global */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-dark;
  border-radius: 10px;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: $font-h;
  color: $green-color;
  font-weight: bold;
  text-align: center;
  padding: 10px 0;
}

ul li {
  text-align: center;
  padding: 5px 0;

}
span, p, a{
  color: $color-dark;
  text-decoration: none;

}

body {
  background: $color-light;
  font-family: $font-text;
  color: $color-dark;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}



.section-title {
  font-size: 22px;
  text-transform: uppercase;
  font-family: $font-h;
  font-weight: 600;
  span {
    text-transform: none;
    font-weight: 400;
    color: lighten($color-dark, 20%);
  }
}

/* Layout */
header {
  background-color: $color-dark;
  -webkit-box-shadow: 0px 11px 17px -15px rgba(84, 84, 84, 1);
  -moz-box-shadow: 0px 11px 17px -15px rgba(84, 84, 84, 1);
  box-shadow: 0px 11px 17px -15px rgba(84, 84, 84, 1);
}
/* Logo */
.top {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}


.logo {
  margin: 0px;
  padding: 0px;
  max-height:150px;
  }

  .git {
    position: fixed;
    top: 50%;
    right: 0px;
    background-color: $color-dark;
    border-radius: 50% 0 0 50%;
    -webkit-box-shadow: -4px 5px 17px -11px rgba(84, 84, 84, 1);
    -moz-box-shadow: -4px 5px 17px -11px rgba(84, 84, 84, 1);
    box-shadow: -4px 5px 17px -11px rgba(84, 84, 84, 1);

  }

  .git i {
    padding: 20px;
    color: $color-light;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;
  }
  .git i:hover {
    color: $green-color;
    scale: 1.1;
  }

  .git span {
    display: none;
  }

  .container .title {
    font-size: 3rem;
    margin: 50px 0;

  }

.wrapper {
  display: flex;
  height: 600px;

}


.sidebar {
  flex: 1 0 0;
}
// .sidebar  a span {
//  color:$color-dark;
// }

// .sidebar  a span:hover{
//   color: $green-color;
// }
// .sidebar  a span:active {
//   color: $green-color;
//  }


.posts {
  position: relative;
  flex: 2 0 0;
  overflow-y: scroll;
  min-height:600px;
}

.sidebar, .posts {
  background: $color-light;
  margin-right: 10px;
  padding: 40px;
  border: 1px solid $color-dark;
  border-radius: 5px;
  -webkit-box-shadow: 0px 8px 29px -20px rgba(84, 84, 84, 1);
  -moz-box-shadow: 0px 8px 29px -20px rgba(84, 84, 84, 1);
  box-shadow: 0px 8px 29px -20px rgba(84, 84, 84, 1);
}


/* Lists */

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  span.active {
    font-weight: bold;
    color: $green-color;
  }
}

.list-horizontal {
  li {
    display: inline-block;
    padding: 0 10px;
  }
}

/* Authors */

.authors {
  li {
    margin-bottom: 12px;
  }
}

/* Post */

.post {
  position: absolute;
  padding: 36px;
  top: 0;
  left: 0;
  opacity: 0;
  transform: scale(0.9);
  z-index: 10;
  transition: .5s all ease;
  &.active {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
  }
}

.post-author {
  font-style: italic;
}

.post-tags {
  display: flex;
  p {
    margin: 0 10px 0 0;
  }
}


@media only screen and (max-width: 800px) {


   .git {
    position:fixed;
    top: 40px;
    right: 0;
    z-index:1;
   }

   .wrapper {
    flex-direction: column;

   }
  }